NEXT_PUBLIC_META_IMAGE=https://thanos-realty.vercel.app/_next/image?url=%2Fimages%2Fhero1.jpg&w=750&q=75
NEXT_PUBLIC_GA_ID=

REVALIDATE_CONTENT_IN_SECONDS=60
REVALIDATE_SECRET_TOKEN=

NEXT_PUBLIC_TIMEZONE=Asia/Singapore

NEXT_PUBLIC_SITE_URL=https://thanos-realty.vercel.app
